@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
.meal-details-content img {
  width: 100%;
  max-width: 150px;
  max-height: 300px;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}
