@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#meal-container {
  width: 100%;
  max-width: 1024px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 2rem;
  grid-template-columns: repeat(3, 1fr);
}
.meal-details-content img {
  width: 100%;
  max-width: 250px;
  max-height: 300px;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}

.card {
  width: 100%;
  /* max-width: 18rem; */
}

@media screen and (max-width: 768px) {
  #meal-container {
    grid-template-columns: 1fr !important;
    font-size: 2rem !important;
  }

  button {
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 992px) {
  #meal-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    min-width: 450px;
  }
  .modal {
    width: 100% !important;
    min-width: 400px !important;
    font-size: 2rem !important;
  }

  .modal h3 {
    font-size: 2.7rem;
  }
}
